<div class="mb-3">
    <!-- <select class="form-select form-select-lg" (change)="filterProducts()"   aria-label="Default select example" [(ngModel)]="selectedCategoryId">
      <option selected [value]="0">All</option>   
      <option *ngFor="let cat of caregories" [value]="cat.id">{{cat.name}}</option>

</select> -->
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col"  *ngFor="let product of filteredProducts" [class.d-none]="selectedCategoryId !=0 && product.catId != selectedCategoryId">
    <div class="card" >
      <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body" appHighlightCard externalcolor ='pink' [style.background-color]="(product.quantity==0)?'Yellow':'white'">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Price : {{product.price | currency :"EUR"}}</p>

        <p class="card-text" *ngIf="product.quantity != 1; else lastitem">Quantity : {{product.quantity}} </p>
        <ng-template #lastitem>
            <p class="card-text text-danger">Only 1 item left in stock</p>
        </ng-template>
        <!-- template variable or reference variable
        1. #countInput -->
        <input type="number" #countInput>
        <button class="btn btn-success mx-2" (click)="buy(countInput.value,product.price)" >Buy</button>
      </div>
    </div>
  </div>
</div>

<!-- <h2>{{numn | square}} </h2> -->